<%= simple_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<!--   <div class="simple_form-inputs">
    <%= f.input :name %>
  </div> -->

  <div class="simple_form-inputs"></div>
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <div class="simple_form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% end %>
