<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>
<%@cocktail.doses.each do |dose| %>
  <p><%= dose.description %></p>
  <p><%= dose.ingredient.name %></p>
<% end %>
<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'delete', destroy_cocktail_path %> |
<%= link_to 'Back', cocktails_path %>
